* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #6f6e6e;
}

a {
  text-decoration: none;
  color: #6f6e6e;
}

span {
  color: #f16d7f;
}

summary {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  width: 87px;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '\25B6';
  padding-left: 1em;
}

details[open] > summary::after {
  content: '\25BC';
}

details[open] > .summary__list::after {
  content: '\25BC';
  color: #ef5b70;
}

.center {
  padding: 0 calc(50% - 570px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
  height: 100px;
  background-color: white;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.logo {
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
}

.logo__img {
  margin-right: 13px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 37px;
  height: 39px;
  width: 403px;
  background-color: white;
  border-radius: 0px 3px 3px 0px;
}

.header__browse {
  border: 1px solid #e6e6e6;
  background-color: whitesmoke;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  position: relative;
}

.header__browse .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__input {
  height: 40px;
  width: 317px;
  border: 1px solid #e6e6e6;
  border-right-style: none;
  border-left-style: none;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  outline: none;
}

.header__search {
  padding: 12px 11px 12px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 36px;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  outline: none;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  margin-right: 26px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f16d7f;
  height: 38px;
  width: 130px;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.menu__link {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

.menu__list {
  position: relative;
}

.menu__list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #ececec;
  position: absolute;
  top: 52px;
  z-index: 1;
}

.drop_button {
  top: 36px;
}

.drop__flex {
  width: 234px;
  margin-right: 46.75px;
}

.drop__flex:last-of-type {
  margin-right: 0;
}

.drop__last {
  right: 0;
}

.drop__ul {
  list-style-type: none;
}

.drop__link {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.drop__link:hover {
  color: #f16d7f;
}

.drop__h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
}

.arrivals {
  background-color: #f8f3f4;
}

.arrivals__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 148px;
  background-repeat: no-repeat;
  background-position: center -51px;
}

.arrivals__h1 {
  margin-left: 9px;
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.arrivals__bread-crumbs {
  width: 205px;
}

.bread-crumbs__link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  line-height: 20px;
  text-transform: uppercase;
}

.bread-crumbs__link:hover {
  color: #f16d7f;
  font-weight: 900;
}

h5 {
  font-size: 18px;
  font-weight: 900;
}

h4 {
  font-size: 30px;
  font-weight: 900;
}

.drop_category {
  padding-left: 16px;
}

.summary__list {
  width: 243px;
  border-left: 5px solid #ef5b70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

.summary__list::-webkit-details-marker {
  display: none;
}

.summary__list::after {
  content: '\25B6';
  font-size: 10px;
  font-family: 'FontAwesome';
  color: #6f6e6e;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-right-style: none;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  font-size: 14px;
  color: #6f6e6e;
}

.filter {
  height: 165px;
}

.filter__title {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filter__trending, .filter__size, .filter__price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.size__checkbox {
  margin-right: 5px;
  cursor: pointer;
}

.trending__title {
  margin-bottom: 5px;
}

.trending__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.trending__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
}

.trending__list-item::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2px;
  height: 50%;
  background: #6f6e6e;
}

.trending__list-item:last-child {
  border: none;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-right-style: none;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  font-size: 14px;
  color: #6f6e6e;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1644px;
}

.catalog__sidebar2 {
  margin-top: 14px;
  width: 243px;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  position: relative;
}

.catalog__left {
  padding-top: 59px;
}

.catalog__sidebar1 {
  width: 243px;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  position: relative;
}

.catalog__right {
  padding-top: 65px;
  width: 846px;
}

.catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__filter_name {
  height: 73px;
  width: 236px;
}

.catalog__show-list {
  height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-right-style: none;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  font-size: 14px;
  color: #6f6e6e;
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 848px;
  height: 1164px;
  margin-top: 48px;
}

.product__display {
  background-color: #f3f3f3;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__display_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 9px;
}

.product__display_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__name_list {
  height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-right-style: none;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  font-size: 14px;
  color: #6f6e6e;
}

.product__add {
  position: absolute;
  height: 39px;
  width: 123px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 97px;
  left: 70px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border: 1px solid #ffffff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.product__add:hover {
  -webkit-box-shadow: 0 0 8px;
          box-shadow: 0 0 8px;
}

.product__card {
  position: relative;
  width: 263px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.product__card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product__card:hover .product__img {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-name: filter;
          animation-name: filter;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.product__card:hover .product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__img {
  width: 100%;
}

.product__img {
  width: 100%;
}

.product__name {
  display: block;
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.product__content {
  padding: 19px 14px;
}

@-webkit-keyframes filter {
  from {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  to {
    -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
  }
}

@keyframes filter {
  from {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  to {
    -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
  }
}

.scroll__bar {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scroll__menu {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 261px;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.button__view {
  background-color: #fff;
  font-size: 16px;
  font-weight: 300;
  color: #ef5b70;
  line-height: 26px;
  border: 1px solid #ef5b70;
  border-radius: 3px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 46px;
  display: inline-block;
  margin: 6px 6px;
  text-align: justify;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

input#size {
  margin-right: 8px;
}

input#size:first-child {
  margin-left: 0px;
}

.banner__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 341px;
  color: white;
  background-color: #222224;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 97%;
      flex-basis: 97%;
}

.banner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.banner__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 60px;
}

.banner__list-item:last-of-type {
  padding-right: 0;
}

.banner__list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 309px;
  height: 138px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
}

.banner__list_text {
  margin-top: 17px;
  color: #fbfbfb;
  width: 332px;
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.subscribe {
  position: relative;
  height: 438px;
  margin-bottom: 109px;
}

.subscribe__bg, .subscribe__bg-sadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subscribe__bg img, .subscribe__bg-sadow img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.subscribe__content {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 111px;
  padding-bottom: 111px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__customer {
  margin-right: 27.88px;
}

.customer__text {
  width: 400px;
}

.customer__country {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.subscribe__paragraph {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.customer__name {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 26px;
  display: block;
}

.subscribe_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__input__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  width: 282px;
  border: none;
  border-radius: 23px 0px 0px 23px;
  background-color: #e1e1e1;
  padding-left: 28px;
  padding-right: 16px;
  outline: none;
}

.subscribe__button {
  margin-top: 36px;
  height: 46px;
  border-radius: 0px 23px 23px 0px;
  border: none;
  outline: none;
}

.subscribe__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222224;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 64px;
}

.footer__logo {
  padding-bottom: 20px;
}

.logo__text1 {
  width: 430px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-bottom: 30px;
}

.logo__text2 {
  width: 430px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.info_company {
  width: 102px;
}

.info__title {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 26px;
}

.info__nav {
  height: 179px;
  list-style-type: none;
}

.company__link {
  color: #898989;
  font-size: 16px;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.company__link:hover {
  color: #f16d7f;
}

.info__information {
  width: 149px;
}

.info__category {
  width: 154px;
}

.footer__social {
  height: 79px;
  background-color: #e8e8e8;
}

.footer__social-box {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #7a7a7a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  margin-right: 25px;
  background: #fff;
}

.footer__link:hover {
  background: #f16d7f;
}

.footer-img {
  -webkit-filter: invert(0.2);
          filter: invert(0.2);
}

.footer-img:hover {
  -webkit-filter: sepia(20);
          filter: sepia(20);
}

.twitt {
  -webkit-filter: invert(0.28);
          filter: invert(0.28);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */